.btn {
  display: inline-flex;
  padding: 27px 0;
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: $color-text-main-light;

  background-color: $color-transparent;
  border: 2px solid $color-btn-main-outline-light;
  cursor: pointer;

  transition: opacity $trans-default;

  &--black {
    color: $color-text-main-dark;
    border-color: $color-btn-main-outline-dark;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
