.btn {
  display: inline-flex;
  padding: 27px 0;
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: $color-text-main-light;

  background-color: $color-transparent;
  border: 2px solid $color-btn-main-outline-light;
  cursor: pointer;

  transition: opacity $trans-default;

  &--black {
    color: $color-text-main-dark;
    border-color: $color-btn-main-outline-dark;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn-play {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: rgba(20, 54, 122, 0.50);
  border: none;
  cursor: pointer;
}

.btn-play__border {
  display: flex;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ED023320;

  @include vp-1365 {
    width: 72px;
    height: 72px;
  }
}

.btn-play:hover:not(:disabled) .btn-play__border {
  border-color: $color-btn-main-outline-dark;
}

.btn-play:focus-visible:not(:disabled) .btn-play__border {
  border-color: $color-btn-main-outline-dark;
}

.btn-play:active:not(:disabled) .btn-play__border {
  border-color: $color-btn-main-outline-dark;
}

.btn-play:disabled .btn-play__border {
  border-color: $color-btn-main-outline-dark;
  opacity: 0.4;
}

.btn-play__background {
  display: flex;
  margin: auto;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: $color-btn-fill-gradient;

  @include vp-1365 {
    width: 52px;
    height: 52px;
  }
}

.btn-play:hover:not(:disabled) .btn-play__background {
  background: $color-btn-main-outline-light;
}

.btn-play:focus-visible:not(:disabled) .btn-play__background {
  background: $color-btn-main-outline-light;
}

.btn-play:active:not(:disabled) .btn-play__background {
  background: $color-btn-main-outline-light;
  width: 58px;
  height: 58px;

  @include vp-1365 {
    width: 38px;
    height: 38px;
  }
}

.btn-play:disabled .btn-play__background {
  background: $color-btn-main-outline-light;
  opacity: 0.4;
}

.btn-play__arrow {
  width: 17px;
  height: 17px;
  fill: $color-btn-main-outline-light;
  margin: auto;
  padding-left: 4px;
  padding-bottom: 2px;

  @include vp-1365 {
    width: 12px;
    height: 12px;
    padding-left: 3px;
  }
}

.btn-play:hover:not(:disabled) .btn-play__arrow {
  fill: $color-btn-main-outline-dark;
}

.btn-play:focus-visible:not(:disabled) .btn-play__arrow {
  fill: $color-btn-main-outline-dark;
}

btn-play:active:not(:disabled) .btn-play__arrow {
  fill: $color-btn-main-outline-dark;
}

.btn-play:disabled .btn-play__arrow {
  fill: $color-btn-main-outline-dark;
  opacity: 0.4;
}
