.games {
  min-width: 320px;
}

.games__container {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1365 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.games__promotion {
  margin-bottom: 125px;

  @include vp-1365 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 73px;
  }
}

.games__title {
  margin: 0 0 50px;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin: 0 0 39px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    text-align: center;
  }
}

.games__slider {
  width: 1160px;
  height: 294px;

  @include vp-1365 {
    width: 568px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}
