.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider-button {
  width: 56px;
  height: 56px;
  --swiper-navigation-size: 30px;
  color: $color-btn-main-outline-dark;
  border: 1px solid transparent;
  border-radius: 50%;

  &:hover:not(:focus-visible):not(.slider-button--disabled):not(:active) {
    border-color: $color-btn-main-outline-dark;
  }

  &:focus-visible:not(.slider-button--disabled):not(:active) {
    border-color: $color-btn-main-outline-dark;
  }

  &:active:not(.slider-button--disabled) {
    background-color: $color-btn-main-outline-dark;
    color: $color-btn-main-outline-light;
  }

  &--disabled {
    opacity: 0.3;
  }

  &--prev {
    top: calc(50% - 12px);
    left: -75px;

    @include vp-1365 {
    }

    @include vp-767 {
      top: calc(50% - 18px);
      left: -53px;
    }
  }

  &--next {
    top: calc(50% - 12px);
    right: -75px;

    @include vp-1365 {

    }

    @include vp-767 {
      top: calc(50% - 18px);
      right: -53px;

    }
  }

  @include vp-767 {
    --swiper-navigation-size: 19px;
  }
}
